<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect /public/... to /... (remove "public" from the URL)
    RewriteCond %{THE_REQUEST} \s/+public/([^\s?]*) [NC]
    RewriteRule ^ /%1 [L,R=301,NE]

    # Internally route all requests to the public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
